.root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  width: 80%;
  border-radius: 10%;
}

.svg {
  margin: 0 10px;
  width: 20px;
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }
}
